body {
    background-color: rgb(255 255 255 / -5%);
    margin: 0;
    padding-top: 10vh;
    /* height of header */
    padding-bottom: 10vh;
    /* height of footer */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(16px, 4vw, 24px);
}

#main-content {
    background-image: url('../../assets/images/magenta-nature-mystical-landscape.jpg');
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Set a minimum height to take up at least the viewport height */
    width: 100%;
}

#dynamic-content {
    text-align: center;
    width: inherit;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
}

.dynamic-content-home{
    width:fit-content !important;
}

.form-control,
div,
textarea,
select,
button,
p {
    /* the font-size will be taken from the root (which is affected by the clamp() on the body) */
    font-size: 0.8rem !important;
    
}

h1,
h2,
.modal-title {
    font-size: x-large !important; 
}

textarea {
    width: 94%;
}


#header {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

h2,
h3,
h4 {
    text-align: center;
}

.modal-title,
h2,
h4,
h3 {
    font-family: monospace !important;
}

.modal {
    background-color: rgb(255 192 203 / 71%);
}

.box-info {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
}

.box-info p {
    text-align: justify;
    margin: 0;
    /* Reset default margin for paragraphs */
}

.box-info,
ul,
li {
    font-family: 'Kosugi Maru', sans-serif;
}

header,
footer {
    background-color: rgba(255, 182, 193, 1.8);
    height: 10vh;
    z-index: 1000;

}

p {
    font-family: 'Kosugi Maru', sans-serif;
}

/* #main-content {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 20vh);
}

#dynamic-content {

    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
} */

.btn-discover-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: stretch;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.5rem;
}

.btn-primary {
    --bs-btn-bg: #d63384 !important;
    --bs-btn-hover-bg: #0d6efd40 !important;
    background-color: #d63384;
}

#text-content {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer {
    width: 100%;
}

/* For tablets in portrait mode */
@media (min-width: 600px) {
    body {
        font-size: 16px;
    }
}