/* Set margin for the #columns-container */
#columns-container {
  margin-top: 20px;
}

/* Center-align h2 headings */
h2 {
  text-align: center;
}

/* Styling for individual columns */
.column {
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 30%;
}

/* Adjust the spacing for #actions-container */
#actions-container {
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.action {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-family: cursive;
  margin-bottom: 10px;
  padding: 10px;
}

/* Apply to the elements that should not be selected during drag */
.action[draggable="true"] {
  user-select: none;
}

/* Styling for #dynamic-content */
#dynamic-content {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Styling for list elements */
.list {
  background-color: #f9f9f9;
  border: 2px solid #d5b2d2;
  border-radius: 5px;
  margin-bottom: 10px;
  min-height: 100px;
  padding: 10px;
}

/* Styling for placeholder elements */
.placeholder {
  background-color: white;
  border: 2px dashed #aaa;
  margin-bottom: 10px;
  min-height: 50px;
}

/* Styling for elements with the 'dragging' class */
.dragging {
  opacity: 0.5;
}

/* Styling for .button-reflect elements */
.button-reflect {
  align-content: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* Styling for label elements */
label {
  align-content: space-between;
  align-items: baseline;
  display: grid;
  justify-content: center;
}

/* Styling for span elements */
span {
  font-weight: bold;
}

/* Styling for .modal elements */
.modal {
  background-color: rgba(255, 192, 203, 0.71);
}

/* Styling for .modal-image elements */
.modal-image {
  height: auto;
  width: 100%;
}

/* Media query for screens up to 720px wide */
@media (max-width: 700px) {
  /* Adjustments for small screens here */
  h3 {
    font-size: 12px !important;
  }

  .column-box {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }

  .column {
    width: 100%;
  }

  .action {
    width: fit-content;
  }
}
